.front{width: 550px;margin: 5px 32px 45px 32px;background-color: #8F9357; color: #666;text-align: center;padding: 3px;border-radius: 5px;}
.front2{width: 350px;margin: 5px 32px 45px 32px;background-color: #8F9357; color: #666;text-align: center;padding: 3px;border-radius: 5px;} 
.images{width: 550px;margin: -25px 32px 45px 180px;}
.booking-details {float: right;position: relative;width:400px;height: 450px; } 
.booking-details h3 {margin: 5px 5px 0 0;font-size: 16px;} 
.booking-details td{line-height:26px; font-size:16px; color:#999;} 
.booking-details td span{color:#666; width: 50px;} 
div.seatCharts-cell {color: #182C4E;height: 30px;width: 30px;line-height: 25px;margin: 3px;float: left;text-align: center;outline: none;font-size: 13px;} 
div.seatCharts-seat {color: #fff;cursor: pointer;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius: 5px;} 
div.seatCharts-row {height: 35px;} 
div.seatCharts-seat.available {background: url(images/seatava.png);} 
div.seatCharts-seat.focused {background: url(images/seatfoc.png);} 
div.seatCharts-seat.selected {background: url(images/seatsel.png); color: #000;}


div.seatCharts-seat.unavailable {background: url(images/seatchoose.png); cursor: not-allowed;} 
div.seatCharts-container {border-right: 1px dotted #adadad;width: 600px;padding: 20px;float: left;} 
div.seatCharts-legend {padding-left: 0px;bottom: 16px;} 
ul.seatCharts-legendList {padding-left: 0px;list-style: none;} 
.seatCharts-legendItem{float:left; width:90px;margin-top: 10px;line-height: 2;} 
span.seatCharts-legendDescription {margin-left: 5px;line-height: 30px;} 
.checkout-button { background: #A9AA75;
    border-color: #675F50; -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;display: block;width:80px; height:24px; line-height:20px;border:1px solid #999; border-radius: 10px; font-size: 14px;font-family: poor richard; cursor:pointer;} 
#selected-seats {max-height: 120px;overflow-y: auto;overflow-x: none;width: 220px;} 
#selected-seats li{float:left; width:85px; height:26px; line-height:26px; border:1px solid #d3d3d3; background:#f7f7f7; margin:6px; font-size:14px; font-weight:bold; text-align:center} 

.checkout-button:hover {
    background: transparent;
    border-color: #37A6A6;
    color: #808080;
}