body{font-family: sans-serif;color:#717171;}
#wrapper{width: 500px; margin:  50px auto;}


.myForm{position: relative; width:calc(100% - 40px); margin: 20px; display: inline-block;}
.myForm input{display: none;}
.myForm label{float: left; line-height: 1.4}
.myForm label::before{
  width: 20px; 
  height: 20px; 
  border: 1px solid #2196F3;
  content: '';
  border-radius: 10px;
  float: left;
  margin:0 10px;
  cursor: pointer;
}
.myForm input[type=checkbox]:checked + label::after{display: block;}
.myForm label::after{
  display: none;
  top: 6px;
  left: 16px;
  content: '';
  color: #2196F3;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #2196F3;
  border-radius: 5px;
  cursor: pointer;
}



.myForm1{position: relative; width:calc(100% - 40px); margin: 20px; display: inline-block;}
.myForm1 input{display: none;}
.myForm1 label{float: left; line-height: 1.4}
.myForm1 label::before{
  width: 20px; 
  height: 20px; 
  border: 1px solid #F44336;
  background-color: #F44336;
  content: '';
  float: left;
  margin:0 10px;
  cursor: pointer;
}
.myForm1 input[type=checkbox]:checked + label::after{display: block;}
.myForm1 label::after{
  display: none;
  top: 1px;
  left: 15px;
  content: '✔';
  color: #fff;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
}




.myForm2{position: relative; width:calc(100% - 40px); margin: 20px; display: inline-block;}
.myForm2 input{display: none;}
.myForm2 label{float: left; line-height: 1.4}
.myForm2 label::before{
  width: 20px; 
  height: 20px; 
  border: 1px solid #4CAF50;
  background-color: #4CAF50;
  border-radius: 2px;
  content: '';
  float: left;
  margin:0 10px;
  cursor: pointer;
}
.myForm2:hover{position: relative; width:calc(100% - 40px); margin: 20px; display: inline-block;}
.myForm2:hover input{display: none;}
.myForm2:hover label{float: left; line-height: 1.4}
.myForm2:hover label::before{
  width: 20px; 
  height: 20px; 
  border: 1px solid #555;
  background-color: #555;
  border-radius: 2px;
  content: '';
  float: left;
  margin:0 10px;
  cursor: pointer;
}
.myForm2 input[type=checkbox]:checked + label::after{display: block;}
.myForm2 label::after{
  display: none;
  top: 0px;
  left: 10px;
  content: '';
  color: #fff;
  position: absolute;
  border: 1px solid #000000;
  background-color: #000000;
  width: 20px; 
  height: 20px;
  cursor: pointer;
}


.myForm3{position: relative; width:calc(100% - 40px); margin: 20px; display: inline-block;}
.myForm3 input{display: none;}
.myForm3 label{float: left; line-height: 1.4}
.myForm3 label::before{
  width: 20px; 
  height: 20px; 
  border: 1px solid #9C27B0;
  background-color: #9C27B0;
  border-radius: 10px;
  content: '';
  float: left;
  margin:0 10px;
  cursor: pointer;
}
.myForm3 input[type=checkbox]:checked + label::after{display: block;}
.myForm3 label::after{
  display: none;
  top: 0px;
  left: 15px;
  content: '✔';
  color: #fff;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
}

